# Docker Compose Config
  COMPOSE_PROJECT_PREFIX = dev
  COMPOSE_NETWORK = dev
  COMPOSE_RESTART_POLICY = unless-stopped

# Image Names
  OPEN_WEBUI_IMAGE = ghcr.io/open-webui/open-webui:main
  FILE_TRAY_IMAGE = flawiddsouza/file-tray:1.0.0
  ACTUAL_IMAGE = actualbudget/actual-server
  I_SPY_IMAGE = mekayelanik/ispyagentdvr:latest
  JELLYFIN_IMAGE = jellyfin/jellyfin
  STIRLING_PDF_IMAGE = frooodle/s-pdf:latest
  # STIRLING_PDF_IMAGE = frooodle/s-pdf:latest-ultra-lite
  MAYBE_FINANCE_IMAGE = ghcr.io/maybe-finance/maybe:stable
  # MAYBE_FINANCE_IMAGE = ghcr.io/maybe-finance/maybe:latest

# Port 320XX
  OPEN_WEBUI_PORT = 32001
  FILE_TRAY_PORT = 32002
  ACTUAL_PORT = 32003
  I_SPY_PORT = 32004
  JELLYFIN_PORT = 32005
  STIRLING_PDF_PORT = 32006
  MAYBE_FINANCE_PORT = 32007

# ENV
  OPENAI_API_KEY = sk-abc

  # generated using: openssl rand -hex 64
  MAYBE_FINANCE_SECRET_KEY_BASE = 89df0
  MAYBE_FINANCE_POSTGRES_HOST = psql
  MAYBE_FINANCE_POSTGRES_DB = maybe
  MAYBE_FINANCE_POSTGRES_USER = root
  MAYBE_FINANCE_POSTGRES_PASS = pass123
